<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <title>Fast Math</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/stopwatch.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Fast Math</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <p style="text-align:center;font-size:30px" id="math">
            </p>
            <div class="row">
                <input type=text name="contents" placeholder="Answer:" id='myInput'></input>
                <input type="button" class="btn btn-success" value="Submit Answer" id='myBtn'>
            </div>
        </div>
        <div>
            <p style="align:center;">
                <div id="timerContainer">
                <div class="timer" onclick="startTimer()">Start Timer!</div>
                <div class="startTimer reset" onclick="startTimer()" >
            </p>
            <i class="fas fa-play"></i>
        </div>
        <input type=hidden name="correctAnswer" id='correctAnswer' value="0"/>
        <script>
            //////////answer = math
            ////////////if answer == "myInput"
        </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/main.js"></script>
        <script type="text/javascript" src="/static/stopwatch.js"></script>
    </body>
</html>
