<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <title>My scratchboard page</title>
        <title>Vanilla JS Stopwatch - Javascript Stopwatch</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/stopwatch.css">
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">My scratchpad</a>
                </div>
            </div>
        </nav>
        <div class="container">
        <p style="text-align:center;">
            <font size="+7">
                {{ math }}
            </font>
        </p>
            <div class="row">
                <form action="." method="POST">
                    <textarea name="contents" placeholder="Answer:" class="form-control" id='myInput'></textarea>
                    <input type="submit" class="btn btn-success" value="Submit Answer" id='myBtn'>
                </form>
            </div>
        </div>
        <script>
            //////////answer = math
            ////////////if answer == "myInput"
        </script>
        <script> // Get the input field
            var input = document.getElementById("myInput");
            // Execute a function when the user releases a key on the keyboard
            input.addEventListener("keyup", function(event) {
            // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
            // Cancel the default action, if needed
                    event.preventDefault();
            // Trigger the button element with a click
                    document.getElementById("myBtn").click();
                }
            });
        </script>
        <p style="align:center;">
            <div id="timerContainer">
            <div class="timer" onclick="startTimer()">Start Timer!</div>
            <div class="startTimer reset" onclick="startTimer()" >
        </p>
            <i class="fas fa-play"></i>
        </div>
        <script type="text/javascript" src="/static/stopwatch.js"></script>
    </body>
</html>
